@use "sass:color";
header{
    text-decoration: underline;
    text-decoration-color: blue;
    color:green;
}

.container{
    border:1px solid red;
    text-align:center;


&_h1{
        @extend header;
    }
&_h2{
    @extend header;
    display: inline-block;
    border:1px solid red;
    padding:1rem;
    text-decoration: none;
}
    
}
.section-1{
        display:flex;
        padding:2rem;
        &_blue{
            padding:2rem;
            border:1px solid green;
            color:blue;
           
        }
        &_red{
            color:red;
            padding:2rem;
            border:1px solid green;
        }
    }
    
.section-3{
        padding:2rem;
        &_green{
            border:1px solid blue;
            padding:2rem;
            font-size: 24px;
            color:green;
           
    }
}
.section-2{
    display:flex;
    justify-content: space-around;
    
}

$indexes: 1rem,2rem,3rem;

@each $index in $indexes{
    .fs-#{$index} {
        width:45px;
        height:45px;
        border:1px solid red;
        font-size:$index;
}
}
@for $number from 1 through 19{
    .box-#{$number}{
    background-color:adjust-color($color: #ffffff,$lightness: -$number*5%);
    color:adjust-color($color: #000000,  $lightness: $number*5%);
    }
    @if ($number==10){
        .box-#{$number} {
            background-color:blue;
            color:red;
        }
        }
   
}


